html,
body {
    height: 100%;
    width: 100%;
    background: #EECDA3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EF629F, #EECDA3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EF629F, #EECDA3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#time-input {
    font-size: 1.2rem;
    border: 1 solid #EECDA3;
    margin-bottom: 2em;
}

#button {
    font-size: 1.5rem;
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    padding: 0 2em;
    cursor: pointer;
    outline: none;
}